.navigation_header {
  border: 2px solid white;
  border-radius: 7px;
  width: 80%;
  margin-bottom: 20px;
}

.links_ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.links_ul li {
  text-align: center;
  text-transform: capitalize;
}